.container {
    background-color: hsla(257, 67%, 53%, 0.683);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .content {
    background-color: hsla(193, 43%, 77%, 0.434);
    display: flex;
    flex: 1;

  }
  
  div {
    
    font-size: 33px;
    font-family: Arial, sans-serif;
    background: linear-gradient(380deg, var(--g1), var(--g2));
  --g2: hsla(193, 65%, 49%, 0.434);
  --g1: hsla(257, 67%, 53%, 0.683);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    text-align: center;
  }
}
